@import "config";

.row {
  input {
    margin: 0;
  }
  select {
    margin: 0;
  }
  .input-group {
    margin: 0;
  }
  .callout {
    margin: 20px 0;
  }
}

.simple_form input.button {
  margin-bottom: 10px;
}

.input {
  margin-bottom: 20px;
}

.hint {
  font-size: 0.8rem;
  color: red;
}

a.button.success.open-modal {
  padding: 12px 16px;
}

.search-sort{
  margin-bottom: 10px;
}

.tabs-panel {
  form {
    margin-bottom: 20px;
  }
}

.admin-panel {
  .button {
    margin: 15px 0;
  }
}
