.row
  %nav.top-bar.column{"data-topbar": ""}
    %ul.title-area
      %li.name
        %h1
          %a{href: "/"}
            %i.fi-play-video
            B&N Bookstore
      %li.toggle-topbar
        %a{href: "#"}
          %span Menu
    %section.top-bar-section
      %ul.right
        %li= link_to "Register", "#"
        %li= link_to "Login", "#"